:root {
  --color-white: #fff;
  --color-black: #000;
  --primary-color: #204c58;
  --secondary-color: #98bb5d;
  --color-projectCardGray: #373737;
  --color-projectCardBlack: #0f0e0e;
  --color-footer: #232323;
  --font-inter: inter, roboto, "josefin sans", "barlow semi condensed",
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  text-decoration: none;
}

body {
  background-color: var(--color-black);
}

h1,
h2,
h3,
p,
a {
  color: var(--color-white);
  font-weight: 400;
}

.cv-button {
  background-color: var(--primary-color);
  width: 10.75rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 50px;
}

.underline-bar {
  background-color: var(--primary-color);
  height: 5px;
  border-radius: 5px;
}

#underline-bar-home {
  width: 100px;
  margin: 0.75em 0;
}

#underline-bar-about {
  width: 200px;
  margin-bottom: 2rem;
}

#underline-bar-projects {
  width: 200px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to left,
    rgba(30, 30, 30, 0.95),
    rgba(15, 15, 15, 0.9)
  );
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 2rem;
}

.nav-overlay > a {
  font-size: 2rem;
  color: #b2b2b2;
  font-weight: 200;
}

.nav-socials {
  display: flex;
  gap: 10px;
}

.nav-socials a {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.4);
  color: #b2b2b2;
  border-radius: 5px;
  padding: 1.25rem;
}

.nav-socials > a > svg {
}

.nav-desktop {
  display: none;
}

.burger-menu {
  color: var(--color-white);
  margin: 1rem 2rem 4rem 0;
  z-index: 1000;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section h1 {
  font-size: 2.5rem;
}

.home-section h2 {
  font-size: 1.75rem;
}

video {
  width: 100%;
  margin: 4rem 0;
}

.about-section {
  margin: 10rem clamp(1rem, 5vw, 5rem) 5rem;
  padding: 6.25rem 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 570px;
}

.introduction-title h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

.introduction-title span,
h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.html-css-js {
  color: #f16529;
}

.react {
  color: #5ec9f8;
}

.node {
  color: #90c53f;
}

.typescript {
  color: #4d75ba;
}

.sql {
  color: #649cd6;
}

.git {
  color: #d55e3f;
}

.introduction-image {
  display: none;
}

.projects-section {
  margin: 0 clamp(1rem, 5vw, 5rem) 10rem;
}

.projects-section h1 {
  font-size: 2.25em;
}

.projects-section > h2 {
  font-size: 1.25rem;
  margin: 1rem 0 5rem;
  max-width: 450px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}

.project-card {
  width: 100%;
  max-width: 615px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.project-card > h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #c5c5c5;
  text-transform: uppercase;
}

.project-card-content {
  border-radius: 5px;
  border: 1px solid #4b4b4b;
  overflow: hidden;
}

.image-frame {
  aspect-ratio: 16 / 9;
  background-color: var(--color-projectCardGray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-frame > img {
  width: 90%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
}

.card-bottom {
  background-color: var(--color-projectCardBlack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.625rem 1rem;
}

.card-description {
  display: flex;
  gap: 10%;
  padding-bottom: 1.5em;
}

.card-description p {
  font-size: 0.75rem;
}

.card-icons {
  display: flex;
  justify-content: space-between;
}

.project-view {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
}

footer {
  background-color: var(--color-footer);
}

.footer-image {
  display: none;
}

.contact-section {
  margin: 0 1rem;
}

.footer-title {
  font-size: 3em;
  padding: 5rem 0 2rem;
}

.contact-info {
  padding-bottom: 4rem;
}

.contact-info * {
  font-size: 1.25rem;
  font-weight: 500;
}

.info-color {
  color: var(--secondary-color);
}

.social-icons {
  display: flex;
  gap: 2rem;
  padding: 4rem 0;
}

/*----------------------RESPONSIVE----------------------*/

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 26, 30, 0.55);
    border-bottom: 2px solid #3c364b;
    height: 65px;
  }

  .burger-menu {
    display: none;
  }

  .home-section {
    height: 100vh;
    justify-content: center;
  }

  .home-section h2 {
    margin-bottom: 5rem;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin: 0;
  }

  .nav-desktop {
    display: flex;
    gap: 20px;
  }

  .nav-desktop a {
    padding: 10px;
    cursor: pointer;
  }

  .about-section {
    display: flex;
    justify-content: space-between;
  }

  .introduction-image {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}
