:root {
  --color-white: #f3f3f3;
  --color-black: #000;
  --primary-color: #135f74;
  --secondary-color: #98bb5d;
  --teritary-color: #3e7f93;
  --color-projectCardGray: #373737;
  --color-projectCardBlack: #0f0e0e;
  --color-footer: #232323;
  --font-inter: inter, roboto, "josefin sans", "barlow semi condensed",
    sans-serif;
  --max-width: 1310px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

.preload {
  transition: none !important;
}

body {
  background-color: var(--color-black);
  overflow-x: hidden;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

h1,
h2,
h3,
p,
a {
  color: var(--color-white);
  font-weight: 400;
}

.cv-button {
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--primary-color);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  font-weight: 300 !important;
  transition: 500ms;
}

.cv-button:hover {
  background: #4a1374;
  box-shadow: 0 0 20px #571374, 0 0 50px #135f74;
}

.underline-bar {
  background-color: var(--primary-color);
  height: 5px;
  border-radius: 5px;
  width: clamp(200px, 20vw, 250px);
}

#underline-bar-home {
  width: clamp(100px, 15vw, 200px);
  margin: 0.75em 0;
}

#underline-bar-about {
  margin-bottom: 2rem;
}

#underline-bar-projects {
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100dvh;
  width: 100%;
  background: linear-gradient(
    to left,
    rgba(30, 30, 30, 0.95),
    rgba(15, 15, 15, 0.9)
  );
  backdrop-filter: blur(10px);
  gap: 2rem;
  padding-left: 2rem;
  transform: translateX(100%);
  transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.open {
  transform: translateX(0);
}

.nav-overlay > a {
  font-size: 2rem;
  color: #b2b2b2;
  font-weight: 200;
}

.nav-socials {
  display: flex;
  gap: 10px;
}

.nav-socials a {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.4);
  color: #b2b2b2;
  border-radius: 5px;
  padding: 1.25rem;
}

.nav-desktop {
  display: none;
}

.nav-desktop > a {
  position: relative;
}

.nav-desktop > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}

.nav-desktop > a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  color: var(--color-white);
  margin: 1rem 2rem 4rem 0;
  z-index: 1000;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section h1 {
  font-size: clamp(2.5rem, 6vw, 7rem);
}

.home-section h2 {
  font-size: clamp(1.75rem, 3vw, 3rem);
  font-weight: 300;
}

video {
  width: 100%;
  margin: 4rem 0;
}

#about-section {
  margin: 10rem auto 5rem;
  padding: 6.25rem 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  max-width: var(--max-width);
  width: calc(100% - clamp(2rem, 10vw, 10rem));
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 570px;
}

.introduction-title h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.introduction-title span,
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.html-css-js {
  color: #f16529;
}

.react {
  color: #5ec9f8;
}

.node {
  color: #90c53f;
}

.typescript {
  color: #4d75ba;
}

.sql {
  color: #649cd6;
}

.git {
  color: #d55e3f;
}

.introduction-image {
  display: none;
}

#projects-section {
  margin: 0 auto 10rem;
  max-width: var(--max-width);
  width: calc(100% - clamp(1rem, 5vw, 5rem));
}

#projects-section h1 {
  font-size: 2.25em;
}

#projects-section > h2 {
  font-size: 1.25rem;
  margin: 1rem 0 5rem;
  max-width: 450px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}

.project-card {
  width: 100%;
  max-width: 615px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.project-card > h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #c5c5c5;
  text-transform: uppercase;
}

.project-card-content {
  border-radius: 5px;
  border: 1px solid #4b4b4b;
  overflow: hidden;
}

.image-frame {
  aspect-ratio: 16 / 9;
  background-color: var(--color-projectCardGray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-frame > img {
  height: 85%;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
}

.card-bottom {
  background-color: var(--color-projectCardBlack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.625rem 1rem;
}

.card-description {
  display: flex;
  gap: 10%;
  padding-bottom: 1.5em;
}

.card-description p {
  font-size: 0.75rem;
}

.card-icons {
  display: flex;
  justify-content: space-between;
}

.project-view {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
}

footer {
  display: flex;
  align-items: center;
  height: 100dvh;
  background-color: var(--color-footer);
  padding: 0 clamp(0.5rem, 4vw, 10rem);
}

.footer-image {
  display: none;
}

#contact-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 2000px;
}

.footer-title {
  font-size: 3rem;
  padding: 5rem 0 2rem;
}

.contact-info {
  white-space: nowrap;
}

.contact-info * {
  font-weight: 500;
}

.contact-info > h2 {
  font-size: clamp(1.35rem, 5vw, 1.5rem);
}

.contact-info > h2:first-of-type {
  margin-bottom: 1rem;
}

.contact-info > .cv-button {
  margin: 3rem 0 4rem;
}

.info-color {
  color: var(--secondary-color);
}

.social-icons {
  display: flex;
  gap: 2rem;
  padding-bottom: 2.5rem;
}

/*----------------------RESPONSIVE----------------------*/

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  header {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 26, 30, 0.55);
    border-bottom: 2px solid #3c364b;
    height: 65px;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(-100%);
  }

  header.top {
    transform: translateY(0);
  }

  header.bottom {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.49);
    border-bottom: 2px solid var(--primary-color);
  }

  .hamburger,
  .nav-overlay {
    display: none;
  }

  .home-section {
    height: 100dvh;
    justify-content: center;
    padding-bottom: 10dvh;
  }

  .home-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, transparent, var(--color-black));
  }

  .home-section h2 {
    margin-bottom: 5rem;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    margin: 0;
  }

  .nav-desktop {
    display: flex;
    gap: clamp(20px, 3vw, 100px);
  }

  .nav-desktop a {
    padding: 10px;
    cursor: pointer;
  }

  .footer-image {
    display: block;
    align-self: flex-end;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 19px;
  }

  #about-section {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  .introduction-image {
    display: flex;
    align-items: flex-end;
  }

  .introduction-image img {
    height: 300px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}
